.button{
    
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #4b4b4b;
    -fx-border-radius: 22;
    -fx-border-veight:bold;
    -fx-background-radius: 22;
    -fx-border-width: 1.5;
    
       
}
.button:hover{
    
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 7px;
    -fx-border-color: brown;
   
    
       
    
    
    
    
}
.radio-button .radio{
-fx-border-width     : 1px   ;
-fx-border-color     : #000  ;
-fx-background-color : white ;
-fx-border-radius    : 15px  ;
-fx-height           : 15px  ; /* Not working */
height               : 5px   ; /* Not working */
}
.radio-button .radio:hover{
-fx-border-width     : 1px   ;
-fx-border-color     : brown  ;
-fx-background-color : white ;
-fx-border-radius    : 15px  ;
-fx-height           : 15px  ; /* Not working */
height               : 5px   ; /* Not working */


}



.button:pressed{
     -fx-font-veight: bold;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: brown;
    -fx-border-radius: 22;
    -fx-border-veight:10;
    -fx-background-radius: 22;
    -fx-rotate: 11;
    
    
    
}
.menu-button{
     -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #4b4b4b;
    -fx-border-radius: 22;
    -fx-border-veight:bold;
    -fx-background-radius: 22;
    -fx-border-width: 1.5;
    
    
}
.menu-item{
    
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-text-fill: black;
    
    -fx-background-radius: 22;
    -fx-border-width: 1.5;
    
    
}
